@import 'mixins';

.thought-text {
    font-family: 'Gamja Flower';
    font-size: 1.5rem;
    white-space: pre-wrap;
}

.thought-title {
    @include putaverunt-generic-title(2em);
}

.thought-header {
    margin-bottom: 16px;
}