<pvt-container>
  <div fxLayout="column" fxLayoutGap="12px">
    <div class="pvt-fadeInUpBig" *ngFor="let thought of page.content" fxLayout="row" fxLayoutAlign="center center">
      <mat-card fxFlex="70">
        <div class="thought-header" fxLayoutAlign="space-between">
          <div fxLayout="column">
            <span class="thought-title">{{ thought.title }}</span>
            <span class="pvt-instant">{{ thought.moment }}</span>
          </div>
          <div>
            <button color="accent" mat-icon-button>
              <mat-icon>create</mat-icon>
            </button>
            <button color="warn" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <mat-card-content>
          <p class="thought-text">{{ thought.description }}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-paginator [length]="page.numberOfElements" [pageSize]="10" [pageSizeOptions]="[5, 10, 15, 20]">
    </mat-paginator>
  </div>
</pvt-container>