@import 'mixins';

.input-field {
    height: 100%;
    resize: none;
    font-family: 'Gamja Flower';
    font-size: 1.5rem;
    white-space: pre-wrap;
}

.input-title{
    height: 40px;
    @include putaverunt-generic-title(2em);
}

.input-container {
    height: 80%;
}

.scrollable{
    overflow: auto;
}