@mixin putaverunt-title {
    font: 500 30px/40px 'Gamja Flower', cursive !important;
}

@mixin putaverunt-generic-title($size) {
    font-size: $size;
    font-family: 'Amatic SC';
}

@mixin putaverunt-instant {
    font-size: 1rem;
    font-family: 'Source Code Pro';
    font-weight: 500;
    font-style: italic;
}

@mixin putaverunt-instant-smaller {
    font-size: 0.7rem;
    font-family: 'Source Code Pro';
    font-weight: 500;
    font-style: italic;
}

@mixin pvt-icon-size($size: 24px) {
    font-size: $size;
    height: $size;
    width: $size;
    line-height: $size;
}

