$putaverunt-dark-blue: (
    50 : #e1e4ec,
    100 : #b4bcd0,
    200 : #8290b1,
    300 : #4f6392,
    400 : #2a417a,
    500 : #042063,
    600 : #031c5b,
    700 : #031851,
    800 : #021347,
    900 : #010b35,
    A100 : #6d7cff,
    A200 : #3a4fff,
    A400 : #0721ff,
    A700 : #0019ec,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$putaverunt-red: (
    50 : #f8e3e3,
    100 : #eeb8b8,
    200 : #e38989,
    300 : #d85959,
    400 : #cf3636,
    500 : #c71212,
    600 : #c11010,
    700 : #ba0d0d,
    800 : #b30a0a,
    900 : #a60505,
    A100 : #ffd1d1,
    A200 : #ff9e9e,
    A400 : #ff6b6b,
    A700 : #ff5252,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$putaverunt-green: (
    50 : #e3eee3,
    100 : #bad4b9,
    200 : #8cb88b,
    300 : #5d9b5d,
    400 : #3b853a,
    500 : #187017,
    600 : #156814,
    700 : #115d11,
    800 : #0e530d,
    900 : #084107,
    A100 : #78ff78,
    A200 : #45ff45,
    A400 : #12ff12,
    A700 : #00f700,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$pvt-dark-blue: #010b35;
$pvt-light-blue: #e1e4ec;
