/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Maven+Pro|Source+Code+Pro');
html, body {
    margin: 0;
    height: 100%;
    h3, h2 {
        font-family: 'Source Code Pro';
    }
}